* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F8FAFC;
  color: #0F172A;
}

.hero {
  background-image: url("yourimage");
  background-size: cover;
  background-position: center;
  height: 90vh;
}